### Preprocessing Raw Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Load data into Mdf and Pdf
Mdf = pd.read_csv('student-mat.csv',sep=';')
Pdf = pd.read_csv('student-por.csv',sep=';')

In [3]:
#Add a column "Subject" that describes which course the student has taken
Mdf['Subject'] = 'M'
Pdf['Subject'] = 'P'

In [4]:
#Identify student who took both Math and Portuguese classes
df = pd.merge(Mdf,Pdf,on=["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"], suffixes=('_M','_P'))

In [5]:
#In df, replace G3 with an average score of Math and Portuguese. 
df.loc[:,'new_G3'] = (df.G3_M + df.G3_P)/2
#Merge df back with Mdf, so we have a dataset (Mdf4) for students who take math only and who take both classes with G3 representing the average score.
Mdf2 = df.drop(['guardian_P', 'traveltime_P',
       'studytime_P', 'failures_P', 'schoolsup_P', 'famsup_P', 'paid_P',
       'activities_P', 'higher_P', 'romantic_P', 'famrel_P', 'freetime_P',
       'goout_P', 'Dalc_P', 'Walc_P', 'health_P', 'absences_P', 'G1_P', 'G2_P',
       'G3_P', 'Subject_P'], axis=1)
Mdf2.columns = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences',
       'G1', 'G2', 'G3', 'Subject', 'new_G3']
Mdf3 = pd.concat([Mdf, Mdf2])
Mdf3[['G3','new_G3']]
Mdf4 = Mdf3.drop_duplicates(['Dalc', 'Fedu', 'Fjob', 'G1', 'G2', 'G3', 'Medu', 'Mjob', 'Pstatus',
       'Subject', 'Walc', 'absences', 'activities', 'address', 'age',
       'failures', 'famrel', 'famsize', 'famsup', 'freetime', 'goout',
       'guardian', 'health', 'higher', 'internet', 'nursery', 'paid',
       'reason', 'romantic', 'school', 'schoolsup', 'sex', 'studytime',
       'traveltime'], keep='last')
Mdf4.Subject = np.where(Mdf4.new_G3.isnull(), Mdf4.Subject, 'B')
Mdf4.new_G3 = np.where(Mdf4.new_G3.isnull(), Mdf4.G3, Mdf4.new_G3)
Mdf4 = Mdf4.drop('G3', axis=1)
Mdf4 = Mdf4.rename(columns = {'new_G3':'G3'})
Mdf4.G3 = Mdf4.G3.astype(int)
Mdf4.dtypes

/Users/Jing/anaconda/lib/python3.6/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

Dalc           int64
Fedu           int64
Fjob          object
G1             int64
G2             int64
Medu           int64
Mjob          object
Pstatus       object
Subject       object
Walc           int64
absences       int64
activities    object
address       object
age            int64
failures       int64
famrel         int64
famsize       object
famsup        object
freetime       int64
goout          int64
guardian      object
health         int64
higher        object
internet      object
G3             int64
nursery       object
paid          object
reason        object
romantic      object
school        object
schoolsup     object
sex           object
studytime      int64
traveltime     int64
dtype: object

In [6]:
#Identify students who took Portuguese class only (Pdf4).
Pdf2 = df.drop(['guardian_M', 'traveltime_M', 'studytime_M',
       'failures_M', 'schoolsup_M', 'famsup_M', 'paid_M', 'activities_M',
       'higher_M', 'romantic_M', 'famrel_M',
       'freetime_M', 'goout_M', 'Dalc_M', 'Walc_M', 'health_M', 'absences_M',
       'G1_M', 'G2_M', 'G3_M', 'Subject_M'], axis=1)
Pdf2.columns = (['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'nursery', 'internet', 'guardian',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup',
       'paid', 'activities', 'higher', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences',
       'G1', 'G2', 'G3', 'Subject', 'new_G3'])
Pdf3 = pd.concat([Pdf, Pdf2])
Pdf4 = Pdf3.drop_duplicates(["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"], keep=False)
Pdf4 = Pdf4.drop('new_G3', axis=1)
Pdf4.dtypes

Dalc           int64
Fedu           int64
Fjob          object
G1             int64
G2             int64
G3             int64
Medu           int64
Mjob          object
Pstatus       object
Subject       object
Walc           int64
absences       int64
activities    object
address       object
age            int64
failures       int64
famrel         int64
famsize       object
famsup        object
freetime       int64
goout          int64
guardian      object
health         int64
higher        object
internet      object
nursery       object
paid          object
reason        object
romantic      object
school        object
schoolsup     object
sex           object
studytime      int64
traveltime     int64
dtype: object

In [7]:
#Concatenate Mdf4 and Pdft. 
INPUTdf = pd.concat([Mdf4,Pdf4])
INPUTdf = INPUTdf.drop(['G1', 'G2', 'paid'], axis=1) #paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
#Add a column "courses" that has the number of course the student has taken
INPUTdf['courses'] = np.where(INPUTdf['Subject'] == 'B', 2, 1)
#The new dataset INPUTdf representing students who have taken Math, Portuguese, or both classes
INPUTdf.head()

,Dalc,Fedu,Fjob,G3,Medu,Mjob,Pstatus,Subject,Walc,absences,...,internet,nursery,reason,romantic,school,schoolsup,sex,studytime,traveltime,courses
128,1,2,other,0,2,services,T,M,2,0,...,yes,yes,reputation,no,GP,no,M,1,1,1
161,1,2,other,7,3,other,T,M,4,6,...,yes,yes,course,yes,GP,yes,M,2,2,1
162,2,2,other,0,1,other,T,M,4,0,...,no,yes,course,no,GP,no,M,1,2,1
163,1,3,services,10,1,at_home,T,M,4,2,...,yes,yes,course,no,GP,no,M,1,1,1
165,1,2,services,12,3,services,T,M,1,16,...,no,no,course,no,GP,no,M,1,2,1

In [8]:
#Dummy code categorical variables
INPUTdf = pd.get_dummies(INPUTdf)

In [9]:
INPUTdf.columns

Index(['Dalc', 'Fedu', 'G3', 'Medu', 'Walc', 'absences', 'age', 'failures',
       'famrel', 'freetime', 'goout', 'health', 'studytime', 'traveltime',
       'courses', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Pstatus_A', 'Pstatus_T', 'Subject_B',
       'Subject_M', 'Subject_P', 'activities_no', 'activities_yes',
       'address_R', 'address_U', 'famsize_GT3', 'famsize_LE3', 'famsup_no',
       'famsup_yes', 'guardian_father', 'guardian_mother', 'guardian_other',
       'higher_no', 'higher_yes', 'internet_no', 'internet_yes', 'nursery_no',
       'nursery_yes', 'reason_course', 'reason_home', 'reason_other',
       'reason_reputation', 'romantic_no', 'romantic_yes', 'school_GP',
       'school_MS', 'schoolsup_no', 'schoolsup_yes', 'sex_F', 'sex_M'],
      dtype='object')

In [10]:
#split rawData into trainData and testData
from sklearn.model_selection import train_test_split
y = INPUTdf['G3']
X = INPUTdf[['Dalc', 'Fedu', 'Medu', 'Walc', 'absences', 'age', 'failures',
       'famrel', 'freetime', 'goout', 'health', 'studytime', 'traveltime',
       'courses', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'Pstatus_A', 'Pstatus_T', 'Subject_B',
       'Subject_M', 'Subject_P', 'activities_no', 'activities_yes',
       'address_R', 'address_U', 'famsize_GT3', 'famsize_LE3', 'famsup_no',
       'famsup_yes', 'guardian_father', 'guardian_mother', 'guardian_other',
       'higher_no', 'higher_yes', 'internet_no', 'internet_yes', 'nursery_no',
       'nursery_yes', 'reason_course', 'reason_home', 'reason_other',
       'reason_reputation', 'romantic_no', 'romantic_yes', 'school_GP',
       'school_MS', 'schoolsup_no', 'schoolsup_yes', 'sex_F', 'sex_M']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [11]:
#Seperate X_train and X_test into sub dataframes consists of dummy columns only and non-dummy columns only
X_train_nondummies = X_train.select_dtypes(exclude=['uint8'])
X_train_dummies = X_train.select_dtypes(exclude=['int64'])
X_test_nondummies = X_test.select_dtypes(exclude=['uint8'])
X_test_dummies = X_test.select_dtypes(exclude=['int64'])

In [12]:
#Center and scale non-dummy coded varialbes in training dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train_nondummies)
X_train_nondummies_scaled = scaler.transform(X_train_nondummies)
X_train_nondummies_scaled.shape
#This obtaines a 464 by 14 numpy array as non-dummy coded training dataset

(464, 14)

In [13]:
#Convert dataframe X_train_dummies into numpy array X_train_dummies_np
X_train_dummies_np = X_train_dummies.values
X_train_dummies_np.shape
#This obtaines a 464 by 44 numpy array

(464, 44)

In [14]:
#Concatenate scaled-nondummy and dummy variables as new training data X
X_train_new = np.concatenate((X_train_nondummies_scaled, X_train_dummies_np), axis=1)
X_train_new.shape

(464, 58)

In [15]:
#Using similar approach to process X_test datasets
#Transform test dataset
X_test_nondummies_scaled = scaler.transform(X_test_nondummies)
#Convert dataframe X_test_dummies into numpy array X_test_dummies_np
X_test_dummies_np = X_test_dummies.values
#Concatenate scaled-nondummy and dummy variables as new test data X
X_test_new = np.concatenate((X_test_nondummies_scaled, X_test_dummies_np), axis=1)
X_test_new

array([[-0.53554777,  0.63014511,  1.34476206, ...,  0.        ,
         1.        ,  0.        ],
       [-0.53554777,  1.53257513,  1.34476206, ...,  0.        ,
         0.        ,  1.        ],
       [-0.53554777, -1.17471495, -1.32939335, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 2.85300904,  0.63014511,  0.45337692, ...,  0.        ,
         1.        ,  0.        ],
       [ 1.7234901 , -1.17471495, -1.32939335, ...,  0.        ,
         0.        ,  1.        ],
       [-0.53554777,  0.63014511,  1.34476206, ...,  0.        ,
         1.        ,  0.        ]])

### Initial Model

In [16]:
from sklearn import svm
model = svm.SVR(kernel='rbf', C=np.exp(-3), gamma=np.exp(-3))
model.fit(X_train_new, y_train)

SVR(C=0.049787068367863944, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma=0.049787068367863944, kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [17]:
from sklearn.svm import SVR
svr_rbf = SVR(kernel='rbf', C=np.exp(-3), gamma=0.1)
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.042114700113775938

In [18]:
svr_rbf = SVR(kernel='rbf', C=np.exp(-3), gamma=np.exp(-3))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.063878056212857914

In [19]:
svr_rbf = SVR(kernel='rbf', C=np.exp(-1), gamma=np.exp(-3))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.25860216762260924

In [20]:
svr_rbf = SVR(kernel='rbf', C=np.exp(1), gamma=np.exp(-3))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.64850968470407322

In [25]:
svr_rbf = SVR(kernel='rbf', C=np.exp(10), gamma=np.exp(10))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.99919908213388131

In [26]:
svr_rbf = SVR(kernel='rbf', C=np.exp(1), gamma=np.exp(10))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.73095821928214399

In [21]:
svr_rbf = SVR(kernel='rbf', C=np.exp(10), gamma=np.exp(-3))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.99910752006031334

In [27]:
svr_rbf = SVR(kernel='rbf', C=np.exp(1), gamma=np.exp(100))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.73095821928214399

In [22]:
svr_rbf = SVR(kernel='rbf', C=np.exp(50), gamma=np.exp(-3))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.99910752006031334

In [23]:
svr_rbf = SVR(kernel='rbf', C=np.exp(10), gamma=np.exp(-1))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.99920886579642787

In [24]:
svr_rbf = SVR(kernel='rbf', C=np.exp(10), gamma=np.exp(50))
y_rbf = svr_rbf.fit(X_train_new, y_train)
svr_rbf.score(X_train_new, y_train)

0.99919908213388131